@charset "UTF-8";

/* ---------- Inicio da area do banner  ---------- */
#banner-dicas {
    margin-top: 20px;
}

.banner {
    width: 99%;
    height: 380px;
    background: url("../img/img2.jpg") no-repeat center/cover;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ---------- FIM da area do banner  ---------- */

/* ---------- Inicio da area de dicas ---------- */
.dicas {
    margin: 120px 0px;
}

.coluna-dicas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}

.coluna-dicas .dicas-texto {
    margin-bottom: 25px;
}

.coluna-dicas .dicas-texto h1 {
    max-width: 320px;
    margin: 30px 0px;
}

.coluna-dicas .dicas-texto p {
    margin: 20px 0px;
    max-width: 320px;
}

.coluna-dicas .dicas-texto a {
    text-transform: lowercase;
}

.coluna-dicas .dicas-texto a>i {
    margin-right: 5px;
}

.coluna-dicas img {
    width: 320px;
    box-shadow: 3px 5px 15px #000;
}

/* ---------- FIM da area de dicas ---------- */

/*Smartphone Landscape*/

@media (min-width: 576px) {

    /* ---------- Inicio da area de dicas ---------- */
    .coluna-dicas .dicas-texto h1 {
        max-width: 400px;
    }

    .coluna-dicas .dicas-texto p {
        margin: 40px 0px;
        max-width: 400px;
    }

    .coluna-dicas img {
        width: 400px;
    }

    /* ---------- FIM da area de dicas ---------- */
}

/* ---------- Tablets ---------- */
@media (min-width: 768px) {}

/* ---------- Tablets deitados ---------- */
@media (min-width: 992px) {

    /* ---------- Inicio da area de dicas ---------- */
    .dicas {
        margin: 160px 0px;
    }

    .coluna-dicas {
        flex-direction: row;
        gap: 40px;
    }

    .coluna-dicas .dicas-texto h1 {
        max-width: 420px;
    }

    .coluna-dicas .dicas-texto p {
        margin: 40px 0px;
        max-width: 420px;
    }

    .coluna-dicas img {
        width: 420px;
    }

    /* ---------- FIM da area de dicas ---------- */
}

/* ---------- Desktop ---------- */
@media (min-width: 1200px) {

    /* ---------- Inicio da area de dicas ---------- */
    .dicas {
        margin: 180px 0px;
    }

    .coluna-dicas {
        gap: 80px;
    }

    .coluna-dicas .dicas-texto h1 {
        max-width: 480px;
    }

    .coluna-dicas .dicas-texto p {
        max-width: 480px;
    }

    .coluna-dicas img {
        width: 480px;
    }

    /* ---------- FIM da area de dicas ---------- */
}