@charset "UTF-8";

/* ---------- Inicio da area do banner  ---------- */
#banner-dicas {
    margin-top: 20px;
}

.banner {
    width: 99%;
    height: 380px;
    background: url("../img/img2.jpg") no-repeat center/cover;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ---------- FIM da area do banner  ---------- */

/* ---------- Inicio da area de dicas de camêras ---------- */
#dicas-camera {
    margin-top: 120px;
}

.coluna-camera {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.coluna-camera .camera-texto {
    margin-bottom: 25px;
}

.coluna-camera .camera-texto h1 {
    max-width: 320px;
}

.coluna-camera .camera-texto p {
    margin: 20px 0px;
    max-width: 320px;
}

.coluna-camera .camera-texto a {
    text-transform: lowercase;
}

.coluna-camera .camera-texto a > i {
    margin-right: 5px;
}

.coluna-camera img {
    width: 320px;
}
/* ---------- FIM da area de dicas de camêras ---------- */

/*Smartphone Landscape*/

@media (min-width: 576px) {}

/* ---------- Tablets ---------- */
@media (min-width: 768px) {
}

/* ---------- Tablets deitados ---------- */
@media (min-width: 992px) {
}

/* ---------- Desktop ---------- */
@media (min-width: 1200px){

}