@charset "UTF-8";

/* ---------- Slide com Swiper JS ----------*/
#slide h2 {
    text-align: center;
    margin: 20px auto;
    max-width: 340px;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 2px;
}

#slide p {
    margin: 0 auto;
    letter-spacing: 2px;
    padding: 8px;
    text-align: center;
    width: 160px;
    border: 3px solid #000;
    transition: 0.3s ease;
    margin-top: 40px;
}

#slide p:hover {
    transform: scale(1.05);
    color: #fff;
}

.banner {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    position: relative;
    width: 95%;
    height: 500px;
    /* Defina a altura desejada do banner aqui */
    margin: 0 auto;
}

.slides img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.slides img.active {
    opacity: 1;
    z-index: 1;
}

/* ---------- Fim do swiper ---------- */

/* ---------- Area sobre ---------- */
#sobre {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa {
    min-width: 340px;
    min-height: 1070px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    box-shadow: 3px 10px 8px 0px #00000094;
}

.img-sobre img {
    width: 280px;
    margin: 0px 0px 30px 0px;
}

.texto-link h2 {
    margin: 20px 0px;
}

.texto-link p {
    max-width: 280px;
    margin-bottom: 45px;
    text-align: justify;
}

.texto-link a {
    letter-spacing: 2px;
    padding: 8px;
    text-align: center;
    width: 160px;
    border: 3px solid #000;
    transition: 0.3s ease;
}

/* ---------- FIM Area sobre ---------- */

/* ---------- Inicio da area galeria ---------- */
#galeria {
    position: relative;
    height: 550px;
    width: 100%;
    overflow: hidden;
    max-width: 1400px;
    margin: 150px auto;
}

.fundo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/img-sessao-aniversario/Aniversário-Leo-78.jpg') center/cover no-repeat;
    filter: brightness(0.5);
    z-index: 0;
}

.conteudo-galeria {
    position: relative;
    text-align: center;
    padding: 100px 20px;
    color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo-galeria h2 {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 5px;
}

.conteudo-galeria p {
    font-size: 1.1em;
    text-align: center;
    min-width: 320px;
}

.conteudo-galeria a {
    margin-top: 20px;
    border: 3px solid #fff;
    padding: 12px;
    color: #fff;
    font-size: 1.2em;
    transition: 0.5s;
}

/* ---------- FIM da area galeria ---------- */

/* ---------- Inicio da area de swiper para depoimentos ---------- */
.swiper-depoim {
    width: 320px;
    height: auto;
    padding-bottom: 60px;
    margin-top: 50px;
    position: relative;
}

/* ---------- FIM da area de swiper para depoimentos ---------- */

/* ---------- Inicio da area de cards ---------- */
#cards-dicas {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cards-dicas h2 {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.cards {
    background-color: #fff;
    box-shadow: 3px 3px 10px 0px #000;
    border-radius: 15px;
    margin: 30px 0px;
    max-width: 300px;
    height: 495px;
    text-align: center;
    padding: 20px;
    transition: 0.4s ease;
}

.cards:hover {
    transform: translateY(-10px);
}

.icone-cards {
    font-size: 5em;
    margin: 20px;
}

.cards h3 {
    margin: 25px 0px;
    max-width: 250px;
}

.cards p {
    margin: 25px 0px 70px 0px;
    font-size: 14px;
    height: 110px;
}

.cards .botao-cards {
    border: 3px solid black;
    padding: 10px;
}

/* ---------- FIM da area de cards ---------- */

/* ---------- Inicio da area de fotos exibicao ---------- */
#fotos-exibicao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#fotos-exibicao .area {
    display: flex;
    flex-direction: row;
}

#fotos-exibicao .coluna {
    background-color: rgb(239, 239, 239);
    width: 160px;
    text-align: center;
    margin: 20px 10px;
    box-shadow: 3px 2px 8px 0px #000;
}

#fotos-exibicao .coluna img {
    width: 140px;
    padding: 10px 0px;
}

/* ---------- FIM da area de fotos exibicao ---------- */

/* ---------- Inicio da area de contato ---------- */
#contato {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#contato .texto-contato h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0px;
}

#contato .texto-contato p {
    letter-spacing: -1px;
    text-align: justify;
    margin: 20px 0px;
}

#contato .entre-em-contato .p-criarAlgo {
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 2px;
    margin: 20px 0px 30px 0px;
}

#contato .entre-em-contato h2 {
    margin: 20px 0px 30px 0px;
}

#contato .entre-em-contato .p-linkContato {
    margin: 40px 0px 30px 0px;
}

#contato .entre-em-contato .p-linkContato a {
    letter-spacing: 2px;
    padding: 8px;
    text-align: center;
    width: 160px;
    border: 3px solid #000;
    transition: 0.3s ease;
}

/* ---------- FIM da area de contato ---------- */

/*Smartphone Landscape*/

@media (min-width: 576px) {
    .swiper {
        width: 420px;
        height: 240px;
    }

    .swiper-slide .img-swiper-banner {
        width: 310px;
    }

    #caixa {
        min-width: 450px;
        min-height: 1120px;
    }

    .img-sobre img {
        width: 380px;
        margin-bottom: 30px;
    }

    .texto-link p {
        max-width: 380px;
        margin-bottom: 35px;
    }

    /*Galeria*/
    #galeria {
        height: 420px;
        width: 100%;
    }

    /* ---------- Inicio da area de swiper para depoimentos ---------- */
    .swiper-depoim {
        width: 420px;
        height: auto;
    }

    /* ---------- FIM da area de swiper para depoimentos ---------- */

    .conteudo-galeria {
        padding: 50px 20px;
    }

    .conteudo-galeria h2 {
        letter-spacing: 4px;
    }

    .conteudo-galeria p {
        max-width: 420px;
        margin: 20px auto;
        margin-bottom: 40px;
        font-size: 15px;
    }

    .conteudo-galeria a {
        margin: 0px;
    }

    /* ---------- Inicio da area de fotos exibicao ---------- */
    #fotos-exibicao .coluna {
        width: 200px;
        margin: 30px 20px;
    }

    #fotos-exibicao .coluna img {
        width: 180px;
    }

    /* ---------- FIM da area de fotos exibicao ---------- */
}

/* ---------- Tablets ---------- */
@media (min-width: 768px) {

    /* ---------- Slide com Swiper JS ----------*/
    #slide {
        margin-top: 40px;
        z-index: 2;
    }

    #slide h2 {
        font-size: 1.2em;
        max-width: 460px;
    }

    /* ---------- FIM Slide com Swiper JS ----------*/

    /* ---------- Area sobre ---------- */
    #caixa {
        min-width: 630px;
        min-height: 420px;
        flex-direction: row;
        margin: 30px 0px;
    }

    .img-sobre img {
        max-width: 240px;
        height: 360px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .texto-link {
        height: 360px;
        max-width: 340px;
        background-color: #fff;
        margin-top: 0px;
        margin-bottom: 5px;
        padding: 20px;
        font-size: 15px;
    }

    .texto-link h2 {
        margin: 10px 0px;
    }

    .texto-link p {
        margin-bottom: 25px;
        font-size: 0.9em;
    }

    /* ---------- FIM da area sobre ---------- */

    /* ---------- Inicio da area de swiper para depoimentos ---------- */
    .swiper-depoim {
        width: 470px;
        height: auto;
    }

    /* ---------- FIM da area de swiper para depoimentos ---------- */

    /* ---------- Inicio da area de cards ---------- */
    .containerCards {
        display: flex;
        flex-direction: row;
    }

    #cards-dicas h2 {
        margin-bottom: 35px;
        letter-spacing: 2px;
    }

    .cards {
        margin: 0px 10px;
        max-width: 230px;
        height: 490px;
        padding: 15px;
        font-size: 14px;
        cursor: pointer;
    }

    .cards img {
        width: 190px;
        margin-top: 10px;
    }

    .cards h3 {
        margin: 25px 0px;
        max-width: 360px;
    }

    .cards p {
        max-width: 260px;
        margin: 25px 0px 90px 0px;
        font-size: 14px;
        height: 110px;
    }

    /* ---------- FIM da area de cards ---------- */

    /* ---------- Inicio da area de fotos exibicao ---------- */
    #fotos-exibicao .coluna {
        width: 260px;
        margin: 40px 30px;
    }

    #fotos-exibicao .coluna img {
        width: 220px;
        transition: all 0.5s ease;
        padding: 20px 0px;
    }

    #fotos-exibicao .coluna img:hover {
        transform: scale(1.01);
        cursor: pointer;
    }

    /* ---------- FIM da area de fotos exibicao ---------- */

    /* ---------- Inicio da area de contato ---------- */
    #contato {
        width: 500px;
    }

    #contato .texto-contato h2 {
        font-size: 1.4em;
        letter-spacing: 3px;
        margin: 30px 0px;
    }

    #contato .texto-contato p {
        letter-spacing: -1px;
        margin: 30px 0px;
    }

    #contato .entre-em-contato .p-criarAlgo {
        font-size: 0.8em;
        letter-spacing: 2px;
        margin: 20px 0px 30px 0px;
    }

    #contato .entre-em-contato h2 {
        margin: 20px 0px 30px 0px;
    }

    #contato .entre-em-contato .p-linkContato {
        transition: all 0.3s ease;
    }

    #contato .entre-em-contato .p-linkContato:hover {
        transform: scale(1.05);
    }

    /* ---------- FIM da area de contato ---------- */
}

/*Desktop*/
@media (min-width: 992px) {
    .swiper {
        width: 960px;
        height: 280px;
        margin-bottom: 40px;
    }

    .swiper-slide .img-swiper-banner {
        width: 360px;
    }

    #slide h2 {
        max-width: 640px;
    }

    /* ---------- Area sobre ---------- */
    #caixa {
        min-width: 750px;
        min-height: 500px;
        flex-direction: row;
        margin: 30px 0px;
    }

    .img-sobre img {
        max-width: 260px;
        height: 380px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .texto-link {
        height: 380px;
        max-width: 380px;
        padding: 35px;
    }

    .texto-link h2 {
        margin: 0px 0px;
    }

    .texto-link p {
        margin-bottom: 30px;
        margin-top: 10px;
        font-size: 0.9em;
    }

    .conteudo-galeria a:hover {
        cursor: pointer;
        background: #fff;
        color: #000;
    }

    /* ---------- Inicio da area de cards ---------- */
    #cards-dicas h2 {
        margin-bottom: 45px;
    }

    .cards {
        margin: 0px 20px;
        max-width: 280px;
        height: 500px;
        padding: 20px;
        font-size: 16px;
    }

    .cards img {
        width: 220px;
        margin-top: 10px;
    }

    .cards h3 {
        margin: 25px 0px;
        max-width: 360px;
    }

    .cards p {
        max-width: 280px;
        margin: 25px 0px 70px 0px;
        font-size: 14px;
        height: 110px;
    }

    .botao-cards:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    /* ---------- FIM da area de cards ---------- */

    /* ---------- Inicio da area de swiper para depoimentos ---------- */
    .swiper-depoim {
        width: 900px;
        height: auto;
    }

    /* ---------- FIM da area de swiper para depoimentos ---------- */

    /* ---------- Inicio da area de fotos exibicao ---------- */
    #fotos-exibicao {
        flex-direction: row;
    }

    #fotos-exibicao .coluna {
        width: 210px;
        margin: 30px 20px;
    }

    #fotos-exibicao .coluna img {
        width: 180px;
        padding: 20px 0px;
    }

    /* ---------- FIM da area de fotos exibicao ---------- */

    /* ---------- Inicio da area de contato ---------- */
    #contato {
        flex-direction: row;
        width: 800px;
    }

    #contato .texto-contato {
        width: 360px;
        margin-left: 40px;
        margin-right: 20px;
    }

    #contato .texto-contato h2 {
        font-size: 1.3em;
        margin: 30px 0px;
    }

    #contato .texto-contato p {
        letter-spacing: 0px;
        margin: 20px 0px;
    }

    #contato .entre-em-contato {
        width: 360px;
        margin-top: 60px;
        margin-left: 20px;
    }

    #contato .entre-em-contato .p-criarAlgo {
        font-size: 0.8em;
        letter-spacing: 2px;
        margin: 20px 0px 40px 0px;
    }

    #contato .entre-em-contato h2 {
        margin: 20px 0px 50px 0px;
    }

    #contato .entre-em-contato .p-linkContato {
        margin: 40px 0px 30px 0px;
    }

    /* ---------- FIM da area de contato ---------- */
}

@media (min-width: 1200px) {

    /* ---------- Inicio da area de fotos exibicao ---------- */
    #fotos-exibicao .coluna {
        width: 260px;
        margin: 30px 20px;
    }

    #fotos-exibicao .coluna img {
        width: 240px;
        padding: 10px 0px;
    }

    /* ---------- FIM da area de fotos exibicao ---------- */

    /* ---------- Inicio da area de swiper para depoimentos ---------- */
    .swiper-depoim {
        width: 960px;
        height: auto;
    }

    /* ---------- FIM da area de swiper para depoimentos ---------- */
}