@charset "UTF-8";

/* ---------- Inicio da area sobre o meu trabalho ---------- */
#sobre-meu-trabalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}

#sobre-meu-trabalho h2 {
    margin-bottom: 40px;
}

#sobre-meu-trabalho p {
    line-height: 1.5em;
    max-width: 300px;
}

/* ---------- FIM da area sobre o meu trabalho ---------- */

/* ---------- Inicio da area de modelos de fotos ---------- */
#tipos-fotos {
    margin-top: 120px;
}

.fotos-port {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    text-align: center;
}

.img-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.img-foto {
    width: 330px;
    height: auto;
    display: block;
}

.texto-sobre-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 400%);
    font-size: 0.9em;
    min-width: 300px;
}

/* ---------- FIM da area de modelos de fotos ---------- */

/* ---------- Inicio da area de reservando a sua sessão ---------- */
#reservando-sessao {
    margin: 120px auto;
    max-width: 340px;
}

#reservando-sessao h3 {
    margin-bottom: 50px;
}

#reservando-sessao h4 {
    margin-bottom: 20px;
}

#reservando-sessao p {
    margin-bottom: 60px;
}

#reservando-sessao a {
    font-size: 17px;
}

#reservando-sessao a span.setinha-port {
    margin-left: 140px;
}

/* ---------- FIM da area de reservando a sua sessão ---------- */

/*Smartphone Landscape*/

@media (min-width: 576px) {

    /* ---------- Inicio da area sobre o meu trabalho ---------- */
    #sobre-meu-trabalho p {
        max-width: 500px;
    }

    /* ---------- FIM da area sobre o meu trabalho ---------- */

    /* ---------- Inicio da area de modelos de fotos ---------- */
    .img-foto {
        width: 400px;
    }

    /* ---------- FIM da area de modelos de fotos ---------- */

    /* ---------- Inicio da area de reservando a sua sessão ---------- */
    #reservando-sessao {
        max-width: 480px;
    }

    #reservando-sessao a span.setinha-port {
        margin-left: 20px;
    }

    /* ---------- FIM da area de reservando a sua sessão ---------- */
}

/* ---------- Tablets ---------- */
@media (min-width: 768px) {

    /* ---------- Inicio da area sobre o meu trabalho ---------- */
    #sobre-meu-trabalho {
        gap: 40px;
        flex-direction: row;
    }

    #sobre-meu-trabalho h2 {
        margin-bottom: 0px;
        font-size: 1.8em;
    }

    #sobre-meu-trabalho p {
        text-align: justify;
        max-width: 340px;
    }

    /* ---------- FIM da area sobre o meu trabalho ---------- */

    /* ---------- Inicio da area de modelos de fotos ---------- */

    .fotos-port {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .img-foto {
        width: 340px;
    }

    .texto-sobre-img {
        font-size: 1em;
    }

    /* ---------- FIM da area de modelos de fotos ---------- */
}

/* ---------- Tablets deitados ---------- */
@media (min-width: 992px) {

    /* ---------- Inicio da area sobre o meu trabalho ---------- */
    #sobre-meu-trabalho {
        gap: 100px;
    }

    #sobre-meu-trabalho h2 {
        font-size: 2.1em;
    }

    #sobre-meu-trabalho p {
        max-width: 420px;
    }

    /* ---------- FIM da area sobre o meu trabalho ---------- */

    /* ---------- Inicio da area de modelos de fotos ---------- */

    .img-foto {
        width: 400px;
    }

    .texto-sobre-img {
        font-size: 1em;
    }

    /* ---------- FIM da area de modelos de fotos ---------- */
}

@media (min-width: 1200px) {
    /* ---------- Inicio da area de modelos de fotos ---------- */

    .img-foto {
        width: 400px;
    }

    .texto-sobre-img {
        font-size: 1em;
    }

    /* ---------- FIM da area de modelos de fotos ---------- */
}