@charset "UTF-8";

/* ---------- Inicio da area para entrar em contato ---------- */
#img-contato {
    margin-top: 10px;
}

.img-contato {
    width: 95%;
    height: 380px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-contato h1 {
    margin-bottom: 10px;
}

.btn-explore {
    color: #fff;
    margin-top: 10px;
    border: 1px solid #fff;
    padding: 10px;
    width: 200px;
    transition: 0.4s ease;
}

.btn-explore:hover {
    color: #000;
    background: #fff;
}

/* ---------- FIM da area para entrar em contato ---------- */

/* ---------- Inicio da area de sessao de fotos de casamentos ---------- */
#sessao-fotos {
    margin-top: 40px;
    text-align: center;
}

#sessao-fotos h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 50px;
}

.texto {
    width: 90%;
    margin: 0 auto;
}

.texto p {
    text-align: left;
    margin: 60px 0px;
}

.fotos-item {
    column-count: 1;
    padding: 20px;
}

.fotos-item img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    break-inside: avoid;
    cursor: pointer;
    object-fit: cover;
}

/* ---------- FIM da area de sessao de fotos de casamentos ---------- */

/* ---------- Inicio da area da foto do meio ---------- */
.div-foto-meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.div-foto-meio .coluna {
    display: flex;
    flex-direction: row;
}

.div-foto-meio .div-foto {
    background-color: rgb(239, 239, 239);
    width: 160px;
    text-align: center;
    margin: 20px 10px;
    box-shadow: 3px 2px 8px 0px #000;
}

.div-foto-meio .div-foto img {
    width: 140px;
    height: 120px;
    padding: 10px 0px;
}

/* ---------- FIM da area da foto do meio ---------- */

/* ---------- Inicio da area de lightbox ---------- */

/* Lightbox base */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Imagem dentro do lightbox */
#lightbox-img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

/* Botão de fechar */
.close-lightbox {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  z-index: 1001;
}

.lightbox-hidden {
  display: none;
}
/* ---------- FIM da area de lightbox ---------- */

/*Smartphone Landscape*/

@media (min-width: 576px) {

    .div-foto-meio .div-foto {
        width: 220px;
        margin: 30px 20px;
    }

    .div-foto-meio .div-foto img {
        padding: 20px 0px;
        height: 160px;
        width: 180px;
    }
}

/* ---------- Tablets ---------- */
@media (min-width: 768px) {
    .img-contato h1 {
        font-size: 1.8em;
    }

    .btn-explore {
        margin-top: 20px;
        padding: 12px;
        width: 250px;
    }

    /* ---------- Inicio da area de sessao de fotos de casamentos ---------- */
    .texto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .texto p {
        text-align: center;
        margin: 60px 20px;
    }

    .fotos-item {
        column-count: 2;
        column-gap: 15px;
    }

    /* ---------- FIM da area de sessao de fotos de casamentos ---------- */

    /* ---------- Inicio da area da foto do meio ---------- */
    .div-foto-meio .div-foto {
        width: 260px;
        margin: 40px 30px;
    }

    .div-foto-meio .div-foto img {
        width: 220px;
        height: 200px;
        transition: all 0.5s ease;
        padding: 20px 0px;
    }

    .div-foto-meio .div-foto img:hover {
        transform: scale(1.01);
        cursor: pointer;
    }

    /* ---------- FIM da area da foto do meio ---------- */
}

@media (min-width: 992px) {

    /* ---------- Inicio da area de sessao de fotos de casamentos ---------- */
    #sessao-fotos h1 {
        letter-spacing: 2px;
        margin-top: 80px;
    }

    .texto p {
        margin: 100px 20px;
    }

    .fotos-item {
        column-count: 3;
        column-gap: 25px;
    }

    .fotos-item img:nth-child(1) {
        height: 370px;
    }

    .fotos-item img:nth-child(2) {
        height: 380px;
    }

    .fotos-item img:nth-child(3) {
        height: 280px;
    }

    .fotos-item img:nth-child(4) {
        height: 360px;
    }

    .fotos-item img:nth-child(5) {
        height: 340px;
    }

    .fotos-item img:nth-child(6) {
        height: 380px;
    }

    .fotos-item img:nth-child(8) {
        height: 440px;
    }

    .fotos-item img:nth-child(9) {
        height: 380px;
    }

    .fotos-item img:nth-child(11) {
        height: 400px;
    }

    .fotos-item img:nth-child(12) {
        height: 380px;
    }

    /* ---------- FIM da area de sessao de fotos de casamentos ---------- */

    /* ---------- Inicio da area da foto do meio ---------- */
    .div-foto-meio .div-foto {
        width: 360px;
        margin: 30px 20px;
    }

    .div-foto-meio .div-foto img {
        width: 320px;
        height: 300px;
        padding: 20px 0px;
    }

    /* ---------- FIM da area da foto do meio ---------- */
}

@media (min-width: 1200px) {

    /* ---------- Inicio da area de sessao de fotos de casamentos ---------- */
    .texto p {
        max-width: 450px;
    }

    .fotos-item {
        column-count: 3;
    }

    /* ---------- FIM da area de sessao de fotos de casamentos ---------- */

    /* ---------- Inicio da area da foto do meio ---------- */
    .div-foto-meio .div-foto {
        width: 440px;
        margin: 30px 20px;
    }

    .div-foto-meio .div-foto img {
        width: 400px;
        height: 380px;
        padding: 20px 0px;
    }

    /* ---------- FIM da area da foto do meio ---------- */
}