@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0px;
}

a:hover {
    transform: scale(1.05);
}

/* ---------- Celular em pé ----------*/

/* ---------- Inicio do cabeçalho ---------- */
header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(239, 239, 239);
    color: #000;
}

header nav h1 {
    margin-left: 30px;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-icon {
    display: block;
    z-index: 5;
    background-color: transparent;
}

#menu-icon img {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-list {
    position: fixed;
    background-color: rgb(239, 239, 239);
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    list-style: none;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    z-index: 5;
}

.nav-list li {
    transform: translate(-23%, 0%);
    font-weight: 600;
}

.nav-list li:first-child {
    margin-top: 120px;
}

.nav-list.ativo {
    left: 50%;
}

/* ---------- Fim do cabeçalho ---------- */

/* ---------- Inicio do arroba do instagram ---------- */

.arroba-instagram {
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
}

.arroba-instagram:hover {
    transform: scale(1.0);
}

/* ---------- Fim do arroba do instagram ---------- */

.borda {
    border-top: 1px solid black;
    box-shadow: 5px 2px 8px 0px black;
    margin: 80px auto;
    width: 300px;
}

/* ---------- Inicio do rodapé ---------- */
#rodape {
    margin: 30px 0px 60px 0px;
}

#navbarRodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbarRodape .nav-list-rodape {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 30px;
}

#redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#redes-sociais .a-redes {
    margin: 40px 0px;
}

.icon-navbar i {
    font-size: 1.6rem;
}

/* ---------- FIM do rodapé ---------- */

/*Smartphone Landscape*/

@media (min-width: 576px) {}

/* ---------- Tablets ---------- */
@media (min-width: 768px) {
    .borda {
        width: 500px;
    }
}

@media (min-width: 992px) {

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        gap: 40px;
        position: static;
        background-color: transparent;
    }

    .nav-list li:first-child {
        margin-top: 0px;
    }

    .nav-item.active a {
        border-bottom: 3px solid black;

    }

    #menu-icon {
        display: none;
    }

    .icon-li {
        display: none;
    }

    /* ---------- Inicio do rodapé ---------- */
    #rodape {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 30px 0px;
    }

    #redes-sociais {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 30px 30px;
    }

    #navbarRodape {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    #navbarRodape .nav-list-rodape {
        flex-direction: row;
        margin-bottom: 30px;
    }

    /* ---------- FIM do rodapé ---------- */

    .borda {
        width: 650px;
    }
}