@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

/* ---------- Celular em pé ----------*/
header nav {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #ebddcc;
    color: #000;
}

header nav h1 {
    margin-left: 30px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    list-style: none;
    position: absolute;
    top: 11vh;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #ebddcc;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 10;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 0;
    opacity: 0;
    padding-top: 40px;
}

.nav-list li:first-child {
    margin-top: 15px;
}

.nav-list li a {
    color: #000;
    transition: 0.3s;
}

.nav-list li a:hover {
    opacity: 0.7;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu {
    display: block;
    cursor: pointer;
    margin-right: 25px;
    z-index: 11;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
}

/* ----------Fazendo o X do menu hamb ---------- */
.mobile-menu.active .line1 {
    transform: rotate(-47deg) translate(-22px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(47deg) translate(-5px, 7px);
}

/* ---------- Animação com Keyframes ---------- */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ---------- Fim do cabeçalho ---------- */

/* ---------- Slide com Swiper JS ----------*/
#slide {
    margin-top: 50px;
}

#slide h2 {
    text-align: center;
    margin: 20px 0px;
}

.swiper {
    width: 350px;
    height: 200px;
    margin-bottom: 15px;
}

.swiper-button-prev {
    width: 20px;
}

.swiper-slide {
    margin-top: 10px;
    text-align: center;
}

.swiper-slide img {
    width: 250px;
}

#slide p {
    margin: 0 auto;
    letter-spacing: 2px;
    padding: 8px;
    text-align: center;
    width: 160px;
    border: 3px solid #000;
    transition: 0.3s ease;
}

#slide p:hover {
    transform: scale(1.05);
    color: #fff;
}

/* ---------- Fim do swiper ---------- */

/* ---------- Area sobre ---------- */
#sobre {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa {
    width: 330px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
}

#img-sobre img {
    width: 280px;
    margin-bottom: 30px;
}

#texto-link p {
    max-width: 280px;
    margin-bottom: 35px;
    text-align: justify;
}

#texto-link a {
    letter-spacing: 2px;
    padding: 8px;
    text-align: center;
    width: 160px;
    border: 3px solid #000;
    transition: 0.3s ease;
}

#texto-link a:hover {
    transform: scale(1.05);
}

/* ---------- FIM Area sobre ---------- */

/* ---------- Tablets ---------- */
@media (min-width: 768px) {
    .nav-list {
        position: static;
        /* Remove o posicionamento absoluto */
        transform: none;
        /* Remove a translação usada no mobile */
        flex-direction: row;
        gap: 30px;
        /* Mais espaçamento horizontal */
        background-color: transparent;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;
        margin-bottom: 35px;
        z-index: 0;
    }

    .nav-list li {
        opacity: 1;
        margin: 0;
        /* Remove margens do mobile */
        animation: none !important;
    }

    .nav-list li:first-child {
        margin-top: 0;
    }

    .nav-list.active {
        display: flex;
        transform: none;
    }

    .mobile-menu {
        display: none;
    }

    /* ---------- Slide com Swiper JS ----------*/
    #slide {
        margin-top: 40px;
        z-index: 10;
    }

    #slide h2 {
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: 2px;
    }

    .swiper {
        width: 470px;
        height: 280px;
    }

    .swiper-slide {
        margin-top: 20px;
    }

    .swiper-slide img {
        width: 350px;
    }

    /* ---------- FIM Slide com Swiper JS ----------*/

    /* ---------- Area sobre ---------- */
    #caixa {
        width: 700px;
        height: 400px;
        flex-direction: row;
    }

    #caixa img {
        width: 380px;
        height: 350px;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    #texto-link p {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {}