@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* ---------- Celular em pé ----------*/
header nav {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #23232e;
    color: #fff;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    list-style: none;
    position: absolute;
    top: 11vh;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #23232e;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 10;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 0;
    opacity: 0;
    padding-top: 40px;
}

.nav-list li:first-child {
    margin-top: 15px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}

.nav-list li a:hover {
    opacity: 0.7;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu {
    display: block;
    cursor: pointer;
    margin-right: 25px;
    z-index: 11;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/* ----------Fazendo o X do menu hamb ---------- */
.mobile-menu.active .line1 {
    transform: rotate(-47deg) translate(-22px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(47deg) translate(-5px, 7px);
}

/* ---------- Animação com Keyframes ---------- */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* ---------- Fim do cabeçalho ---------- */

/* ---------- Slide com Swiper JS ----------*/
#slide {
    margin-top: 30px;
}

#slide h2 {
    text-align: center;
}

.swiper {
    width: 350px;
    height: 200px;
}

.swiper-slide {
    margin-top: 10px;
    text-align: center;
}

.swiper-slide img {
    width: 250px;
}

/* ---------- Tablets ---------- */
@media (min-width: 768px) {
    .nav-list {
        position: static;
        /* Remove o posicionamento absoluto */
        transform: none;
        /* Remove a translação usada no mobile */
        flex-direction: row;
        gap: 30px;
        /* Mais espaçamento horizontal */
        background-color: transparent;
        align-items: center;
        justify-content: flex-end;
        margin-right: 15px;
    }

    .nav-list li {
        opacity: 1;
        margin: 0;
        /* Remove margens do mobile */
        animation: none !important;
    }

    .nav-list li:first-child {
        margin-top: 0;
    }

    .nav-list.active {
        display: flex;
        /* Garante que o menu sempre apareça no desktop */
        transform: none;
    }

    .mobile-menu {
        display: none;
        /* Esconde o ícone do menu hamburguer */
    }
}